version: "2"

services:
  supervisor:
    container_name: supervisor
    image: eltonssilva/autodomo-lais-ref
    restart: always
    ports:
      - 80:3000
  
  server:
    container_name: server
    image: eltonssilva/lais-server
    restart: always
    ports:
      - 8000:3000

  db:
    container_name: db
    image: mongodb
    restart: always
    ports:
      - 27017:27017
